<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello admin</title>
</head>
<body>
    <h1 th:text="${'Привет администратор - ' + personDetails.getUsername()}"></h1>
    <p th:text="${'год твоего рождения: ' + personDetails.getYearOfBirth()}"></p>
    <hr>
    <form method="GET" action="/admin/users">
        <input type="submit" value="Управлять пользователями">
    </form>
</body>
</html>